body{
    font-family: "Montserrat", sans-serif;
}
header{
    background-color: #000000;
    width: 100%;
}

header img{
    height: 150px;
    margin-left: 90%;
    border-radius: 100%;
}
nav a{
    font-size: 30px;
    text-decoration: none;
    color: #C3AB7C;
    margin: 15px;
   
}

nav{
    display: flex;
    justify-content: center;
    
}
.centrar{

    height: 100px;
    display:flex;
justify-content: center;
padding-bottom: 30%;


}

.info:hover{
    background-color: rgb(83, 122, 109);
    transform: scale(1.1);

}


.info{
    margin: 50px;
    width:200px ;
    height: 10px;
    
}

.info img{
    
    width: 200px;
    height: 250px;
    
}

.ordenar{
    margin-top: 30%;
    background-color: #9F8757;

  
    
}

.ordenas-2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    
}

.ordenar-3{
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.ordenar-3 img{
    width: 550px;
    margin: 30px;
}



.ordenar-3 p{
    margin-top: 10%;
    text-align: justify;
    font-size: 25px;
    margin-right: 25%;
   
}




footer{
    display: flex;
    justify-content: center;
    background-color: #9F8757;
    padding: 20px;
    color: white;
}

.boton button{
    margin-top: 5%;
    width: 200px;
    height: 70px;
    border-radius: 40px;
    margin-left: 25px;
}
    
.boton a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}